{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>Mis Citas Agendadas</h2>
    <samall class="text-muted">
        <p>Recuerda que puedes cancelar o reprogramar tus citas desde aquí.</p>
        Paciente: {{ paciente.nombre }}<br>
        Unidad: {{ paciente.unidad.nombre }}<br>
    </small>
    <a href="{% url 'agendar_cita' %}" class="btn btn-success mb-3">Agendar Nueva Cita</a>
    {% if citas %}
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Médico</th>
                    <th>Especialidad</th>
                    <th>Unidad</th>
                    <th>Motivo</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for cita in citas %}
                <tr>
                    <td>{{ cita.fecha }}</td>
                    <td>{{ cita.hora }}</td>
                    <td>{{ cita.medico.nombre }}</td>
                    <td>{{ cita.medico.especialidad }}</td>
                    <td>{{ cita.unidad.nombre }}</td>
                    <td>{{ cita.motivo }}</td>
                    <td>{{ cita.get_estado_display }}</td>
                    <td>
                        <a href="{% url 'detalle_cita_paciente' cita.id %}" class="btn btn-sm btn-outline-primary {% if not cita.consulta %}disabled{% endif %}">Ver Consulta</a>
                        <a href="{% url 'cancelar_cita' cita.id %}" class="btn btn-sm btn-outline-danger">Cancelar</a>
                        <a href="{% url 'reprogramar_cita' cita.id %}" class="btn btn-sm btn-info">Reprogramar</a>
                        {% comment %} {% if cita.estado == 'Agendada' %}
                        <a href="{% url 'cancelar_cita' cita.id %}" class="btn btn-sm btn-outline-danger">Cancelar</a>
                        {% endif %} {% endcomment %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No tienes citas agendadas.</p>
    {% endif %}
    <a href="{% url 'citas_paciente' %}" class="btn btn-primary mt-3">Volver</a>
</div>
{% endblock %}
